[include]
    path = ~/.gitconfig-private

[push]
    default = simple

[pull]
    rebase = false

[credential]
    helper = store --file ~/.git-credentials

[diff]
    tool = vimdiff

[merge]
    tool = vimmdiff

[difftool]
    prompt = false

[core]
    editor = vim

[alias]
    dt = difftool
